@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body{
  font-family: 'Cambay', sans-serif;
}

.Header-controler {
  width: 100%;
  height: 20%;
  margin-top: -2%;
  margin-left: -0.6%;
  background: #019002;
  color: white;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
}

.div-container-title {
  display: flex;
  align-items: center;
  align-content: center;
  font-size: 180%;
}

.div-title {
  font-family: "Bebas Neue", cursive;
  width: 100%;
  margin-left: 2%;
  margin-top: 10%;
}

.Logo {
  margin-top: 5%;
  margin-left: -25%;
  width: 13vh;
  height: 13vh;
  display: flex;
  justify-content: center;
}

.Logo img {
  animation: movimiento 3s infinite linear;
}

@keyframes movimiento {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(8%);
  }

  100% {
    transform: translateY(0%);
  }

}

img {
  object-fit: cover;
  margin-top: 0%;
  width: 100%;
  height: 100%;
}

.Nav-controler {
  background: #002923;
  position: absolute;
  width: 100.4%;
  height: 5%;
  margin-top: 12.3vh;
  margin-left: -1%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 40vh;
  top: 3vh;

}

.Nav-controler a {
  color: rgb(255, 255, 255);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration: none;
  margin-left: 1vh;
  margin-right: 1vh;
  cursor: pointer;
}

#btn-delete-account {
  background: none;
  color: rgb(255, 255, 255);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: none;
  font-size: 17px;
  cursor: pointer;
}

.alert-container {
  width: 350px;
  height: 375px;
  position: relative;
  right: 640px;
  top: -110px;
  z-index: var(--invisible);
  background-color: rgb(21, 101, 193, 0.15);
  backdrop-filter: blur(50px);
  color: black;
}

#text-alert {
  position: relative;
  text-align: left;
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

#alert-password-input {
  width: 310px;
  height: 30px;
  position: relative;
  left: 25%;
  font-size: 15px;
  color: black;
  text-align: center;
}

#alert-password-input::placeholder {
  color: gray;
  font-size: 1.2em;
  font-style: italic;
}

#alert-password-input:focus {
  outline: none;
}

#button-alert-confirm {
  width: 310px;
  height: 30px;
  position: relative;
  right: 22.5%;
  font-size: 15px;
  background: #f00000;
  color: white;
  border: none;
  cursor: pointer;
}

#button-alert-cancel {
  width: 310px;
  height: 30px;
  position: relative;
  right: 22.5%;
  font-size: 15px;
  cursor: pointer;
}

#aler-input-actpassword {
  width: 220px;
  height: 30px;
  position: relative;
  left: 27%;
  font-size: 15px;
  color: black;
  display: flex;
  justify-content: center;
  margin-left: -9vh;
}

#aler-input-newpassword {
  width: 220px;
  height: 30px;
  position: relative;
  left: 27%;
  font-size: 15px;
  color: black;
  display: flex;
  justify-content: center;
  margin-left: -9vh;
}

#aler-input-confpassword {
  width: 220px;
  height: 30px;
  position: relative;
  left: 27%;
  font-size: 15px;
  color: black;
  display: flex;
  justify-content: center;
  margin-left: -9vh;
}

#button-alert-confirm-password {
  width: 200px;
  padding: auto;
  height: 30px;
  position: relative;
  left:-3vh;
  font-size: 15px;
  background: #84e502;
  color: white;
  border: none;
  cursor: pointer;
}

#list-container{
  text-decoration: none;
}